*{
    margin: 0;
    padding: 0;
}
.leftcontent{
    width: 20%;
    height: 30px;
}
.leftcontent h1{
   display: flex;
   align-content: flex-start;
   margin-top: 100px;
   flex-wrap: wrap;
   flex: 1;
   text-align: center;
   font-weight: 800;
   font-size: 50px;

   
}
.loginform{
    margin: 0;
    background-color: white;
    background-size: cover;
    background-image: url("https://st2.depositphotos.com/1533202/7708/i/450/depositphotos_77088807-stock-photo-blurred-bedroom-as-background.jpg");
    display: flex;
    height: 650px;
    width: 100%;
    flex-direction: column;
}
.loginform h2{
    text-align: center;
    margin-top: 100px;
    margin-left: 440px;
    margin-bottom: 50px;
    width: 25%;
}
.form{
    margin-top: 60px;
}
.google-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 510px;
    margin-top: 10px;
  }

  .google-icon {
    margin-right: 10px;
    width: 20px;    
  }
